# Quartus
work/
db/
incremental_db/
output_files/
simulation/
snapshots/
*.ini
_info
*.qdb
*.qpg
*.qtl
_vmake
*.bak
*.wlf
*.qws
*.rpt
*.do
*.mpf
*.cr.mti
*.qdf
*.cmp
*.qip
*.tdf
greybox_tmp/
*.cnf.cdb
*.cnf.hdb
*.auto_stripped.stp
*.stp
vsim.wlf
modelsim.ini
*.qpf.backup
*.qsf.backup

# NIOS II
*.elf
*.hex
*.sopcinfo
*.sopc
*.ptf
*.tcl
*.sof

# Eclipse
.project
.cproject
.settings/
*.launch

# General
*.log
*.tmp
.DS_Store
Thumbs.db

# C/C++
.vscode/ipch/
.vscode/*.vc.db
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.ilk
*.exp
*.manifest
build/
Debug/
Release/
